
<ion-content padding>
  
  <h1>Chapter One</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiustempor incididunt ut labore et dolore magna aliqua. Suscipit adipiscbibendum est ultricies integer quis auctor elit. Vestibulum lorem sed riultricies tristique nulla aliquet enim tortor. Non odio euismod lacinia at qrisus sed vulputate odio. Arcu cursus euismod quis viverra nibh cras pulvimattis. Gravida arcu ac tortor dignissim convallis aenean et. Semper risushendrerit gravida rutrum quisque. Dictum at tempor commodo ullamcorper a lavestibulum sed arcu. Ultrices tincidunt arcu non sodales neque sodalesetiam. Varius quam quisque id diam vel quam elementum pulvinar. In egestas eimperdiet sed euismod nisi porta lorem mollis. Blandit aliquam etiam erat vescelerisque in dictum non.</p>

    <p>Faucibus interdum posuere lorem ipsum dolor sit. Est sit amet facilisis magna etiam. A cras semper auctor neque vitae tempus quam. Orci nulla pellentesque dignissim enim sit amet venenatis. Dignissim enim sit amet venenatis urna cursus eget nunc. Ultrices sagittis orci a scelerisque. Nunc faucibus a pellentesque sit. Scelerisque fermentum dui faucibus in ornare quam viverra. Urna molestie at elementum eu facilisis sed odio morbi quis. Neque gravida in fermentum et sollicitudin. Sit amet nulla facilisi morbi tempus iaculis urna id. Euismod in pellentesque massa placerat duis. Iaculis at erat pellentesque adipiscing commodo elit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Pretium fusce id velit ut tortor. Laoreet sit amet cursus sit amet. In dictum non consectetur a erat nam at lectus. Interdum velit laoreet id donec ultrices tincidunt arcu. Faucibus et molestie ac feugiat sed lectus. Sit amet aliquam id diam.</p>
                
    <p>Et tortor consequat id porta nibh. Non sodales neque sodales ut. Ut porttitor leo a diam sollicitudin tempor. Sagittis eu volutpat odio facilisis. In ante metus dictum at. Ultricies tristique nulla aliquet enim tortor at auctor. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Id neque aliquam vestibulum morbi blandit cursus. Risus nullam eget felis eget nunc lobortis mattis. Maecenas sed enim ut sem viverra aliquet eget sit amet. Ultrices neque ornare aenean euismod elementum nisi quis eleifend. Lobortis feugiat vivamus at augue eget. Amet nisl purus in mollis nunc sed. Aliquam ut porttitor leo a. Arcu felis bibendum ut tristique et egestas quis ipsum. Feugiat scelerisque varius morbi enim nunc faucibus a. Est ultricies integer quis auctor elit. Fusce ut placerat orci nulla.</p>
                
    <img src="https://images.pexels.com/photos/96938/pexels-photo-96938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" href="/toc" />

    <ion-footer>
      <ion-toolbar>
        <ion-button  href="/toc">Table of Contents</ion-button>
        <ion-button  href="/page-two">Chapter 2 -></ion-button>  
      </ion-toolbar>
    </ion-footer>
</ion-content>