<ion-content padding>
  <h1>Table of Contents</h1>
    <img src="https://images.pexels.com/photos/69932/tabby-cat-close-up-portrait-69932.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt=""  href="/toc"/>
         
  <ion-button expand="full" href="/page-one">Chapter One</ion-button>
  <ion-button expand="block" href="/page-two">Chapter Two</ion-button>
  <ion-button expand="block" href="/page-three">Chapter Three</ion-button>
  <ion-button expand="block" href="/home">close book</ion-button>
</ion-content>
 
